@import "./product";
@import "./productDetails";
@import "./users";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

.App {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tabs_button {
    color: gray;
    border-radius: 4px;
  }
  .tabs_button:hover {
    color: #1976d2;
  }
  .tabs_button:disabled {
    color: #1976d2;
  }
  .logout_button {
    color: gray;
  }
  .logout_button:hover {
    color: #1976d2;
  }
}
